# Dependency directories
node_modules/

# Compiled outputs
dist/
build/

# Environment variables
.env

# Logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.ts-node-dev/

# System files
.DS_Store
Thumbs.db
